VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_z8OFZyBiS
VITE_COGNITO_CLIENT_ID=6oqus36g485ebaj61hjem6q43s
VITE_API_BASE_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com
VITE_USE_MOCK_API=false
